<!--ここから-->
<% if @book.errors.any? %>
  <%= @book.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!--ここまでがrenderエラーメッセージ-->


<div class= "container px-5 px-sm-0">
    <div class= "low">
      <div class= " col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

        <h1>Editing Book</h1>
        <%= form_with model:@book do |f|%>
          <h4>Title</h4>
          <%= f.text_field :title%>
          <h4>Opinion</h4>
          <%= f.text_area :body%>
          <p></p>
          <%= f.submit "Update Book" %></br>
          <p></p>
          <%= link_to "Show", book_path(@book.id)%>
          |
          <%= link_to "Back", books_path%>
        <%end%>
      </div>
    </div>
</div>
