
<div class = "container px-5 px-sm-0">
  <div class = "row">
    <div class = "col-md-3">
      <%= render 'users/userinfo', user: @user %>
      <%= render 'users/newbook', books: @book %>
    </div>

    <div class = "col-md-8 offset-md-1">
      <h2>Book detail</h2>
        <table class= "table">
          <tbody>
            <tr>
              <p>
                <td>
                  <%= link_to user_path(@user.id) do %>
                  <%= image_tag @user.get_profile_image(100,100)%></br>
                  <%= @user.name%>
                  <%end%>
                </td>
              </p>
              <td><%= @books.title %></td>
              <td><%= @books.body%></td>
              
              <% if user_signed_in? && @user == current_user %>
                <td><%= link_to"Edit",edit_book_path(@books.id)%></td>
                <td><%= link_to"Destroy", book_path(@books.id),method: :delete,"data-confirm" => "本当に消しますか？" %></td> 
              <%end%>
              
            </tr>
        </table>
    </div>
  </div>
</div>